{% extends "base.html" %}

{% block content %}
  <div class="container d-flex align-items-center justify-content-center" style="min-height: 70vh;">
    <div class="text-center">
      <h1>About Pergale</h1>
      <br>
      <p>
        Our mission is to help the influential and aspirational to make astute decisions to get ahead.<br>
    
    Pergale International ensures no matter where you are you can keep up to date with the latest breaking business and financial news.<br>
    
    With international headquarters in London and Singapore, we provide you with the perfect 24-hour global business briefing. From the start of trading in Asia, through the Closing Bell on Wall Street, our fast-paced, hard-hitting business coverage makes Pergale essential viewing for any senior business leader.<br>
    
    In addition to our global TV channel, available in more than 385 million homes worldwide, CNBC is also available on mobile, tablet and desktop. CNBC.com is the preeminent financial news source on the web, featuring an unprecedented amount of video, real-time market analysis, web-exclusive live video and analytical financial tools.
    </p>
    </div>
  </div>
{% endblock %}