{% extends 'base.html' %}

{% block content %}
<h1 style="margin-left:700px;">Pradžia</h1>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <div class="leftcolumn">
        <div class="row">
          {% for article in articles %}
            <div class="col-md-4 d-flex align-items-stretch">
              <div class="card mb-4">
                {% if article.image %}
                  <img src="{{ article.image }}" class="card-img-top" alt="{{ article.title }}" style="height: 200px; width: 100%; object-fit: cover;">
                {% endif %}
                <div class="card-body">
                  <h2 class="card-title index-title">
                    <p style="font-size: small;">{{ article.headline }} </p>
                    <a  href="{{ article.title_link }}" class="index-link"><strong>{{ article.title }}</strong></a>
                  </h2>
                </div>
              </div>
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
              </div><div class="row">
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="rightcolumn">
        {% for r in reklama %}
          <img src="{{ r.nuotrauka.url }}" class="card-img-top" style="height: 200px; width: 200px;">
          <p>{{ r.papildoma_info }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
