{% extends "base.html" %}

{% block content %}
  <div class="container d-flex align-items-center justify-content-center" style="min-height: 70vh;">
    <div class="text-center">
      <h1>Privatumo politika</h1>
      <br>
      <p>
        This Privacy Policy explains how NBCUniversal and its affiliates (“ NBCUniversal Affiliates”) (collectively “ we” or “ us”) collect, use, and share information from or about you when you use our websites, downloadable applications, interactive TV applications, voice-activated skills, other digital services, connected devices such as theme-park devices, and off-line services that link to this policy,  or if you engage in business with us (“ NBCUniversal Services or Services”).<br>
        <br>
        This Privacy Policy applies to the NBCUniversal Services throughout the world. Any additional privacy terms that relate to specific NBCUniversal products or services should be read in conjunction with this Policy.<br>
        <br>
        As one of the world’s leading media and entertainment companies, we offer NBCUniversal Services through a wide range of businesses and under many_ different brands. The data controller of your personal information will be the NBCUniversal company which provides services to you or does business with you. You can find out more information about NBCUniversal, including a list of our NBCUniversal Affiliates, here .
      </p>
    </div>
  </div>
{% endblock %}