{% extends "base.html" %}

{% block content %}
  <div class="container d-flex align-items-center justify-content-center" style="min-height: 70vh;">
    <div class="text-center">
      <h1 style="margin-left:100px;">Kas yra PRO?</h1>
      <br>
      <p>
        1 - If you have some News or you have a story, you can add your own article for10 Eur per 1 article.<br>
        2 - you can post your ADD for 2 Eur a day. the content can't contain:<br>
        * - Sex content <br>
        * - Drugs <br>
        * - Guns <br>
      </p>
    </div>
  </div>
{% endblock %}
