{% extends "base.html" %}

{% block content %}
  <form class="container mt-4" action="" method="post">
    {% csrf_token %}
  <div class="login">
    <div class="login-header">
      <h1>Pamiršote slaptažodį? Įrašykite el. pašto adresą ir mes atsiųsime slaptažodžio keitimo instrukcijas.</h1>
    </div>
    <div class="login-form">
      <h3>El. pašto adresas:
        {{ form.email }}<br></h3>
      <input type="submit"  value="Reset password" class="login-button"/>
    </div>
  </div>
</form>
{% endblock %}