{% extends "base.html" %}

{% block content %}
    {% if validlink %}
    <div class="container mt-4" class="login">
        <div class="login-header">
          <h1>Įveskite naują slaptažodį ir pakartokite.</h1>
        <form action="" method="post">
            {% csrf_token %}
              <h1>{{ form.new_password1.errors }}</h1>
            </div>
            <div class="login-form">
              
              <h3>Naujas slaptažodis::
                {{ form.new_password1 }}<br></h3>
              <h3>Patvirtinkite:
                {{ form.new_password2 }}<br></h3>
              <input type="submit" value="Pakeisti slaptažodį" class="login-button"/>
            </div>
          </form>
    {% else %}
        <h1>Nepavyko pakeisti slaptažodžio</h1>
        <p>Slaptažodžio pakeitimo nuoroda negaliojanti. Prašome inicijuoti slaptažodžio keitimą iš naujo.</p>
        </div>
    </div>    
    {% endif %}
{% endblock %}